{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}

{% block branding %}
<a class="navbar-brand" rel="nofollow" href="/">Nativecards API</a>
{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/rest_framework/main.css' %}">
{% endblock %}


{% block userlinks %}
    {{ block.super }}
    <li><a href="/admin">admin</a></li>
{% endblock %}
