/* Variables */
@dark: #191919;
@strong-dark: #151515;
@light-dark: #242424;
@gray: #333;
@strong-gray: #222;
@white: #d3d3d3;
@dark-white: #999999;
@strong-white: #f1f1f1;
@pure-white: #ffffff;

/* DARK THEME */
body {
    height: 100%;
    background-color: @dark;

    input, select, button, textarea {
        background-color: @gray !important;
        border-color: @light-dark !important;
        color: @white !important;
    }
}
#changelist {
    background-color: @dark;

    #toolbar {
        background-color: @light-dark !important; 
        border: 0px !important;
    }
    div.actions {
        background-color: @light-dark !important;
    }
    div.results {
        background-color: @light-dark !important;
    }
}
p.paginator {
    background-color: @light-dark !important;
    border: 0px !important;
    a, a:link, a:visited {
        color: @white !important;
        background-color: @gray;
    }
    .showall {
        background-color: transparent !important;
    }
    a:hover, a:focus {
        color: @pure-white !important;
    }
}
#result_list {
    color: @dark-white !important;
    thead {
        th {
            border-top: 0px !important;
            background-color: @dark !important;
        } 
        th.sorted, th a:hover, th:hover  {
            background-color: @strong-dark !important;
        }
    }
}
.row1 {
    background: @light-dark !important; 
} 
.row2 {
    background: @gray !important; 
} 
.inline-related {
    th {
        background-color: @strong-gray !important;
        color: @white !important;
    }
    h3 {
        background-color: @strong-gray !important;
        border: 0px !important;
    }
    fieldset {
        background-color: @light-dark !important; 
    }

}
.add-row {
    td {
        background-color: @strong-gray !important;
        border: 0px !important;
    } 
}
a, a:link, a:visited {
    color: @white;
}
a:hover, a:focus {
    color: @pure-white;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: @white;

}
#user-tools a:focus, #user-tools a:hover {
    border-bottom-color: @pure-white;
    color: @pure-white;
}
#header {
    background-color: @strong-dark; 
    color: @white;
}
.module {
    background-color: @light-dark; 

    caption {
        background-color: @strong-dark; 
        a, a:visited, a:link {
            color: @white;
        }
    }
    th, td {
        border-bottom-color: @gray;  
    }
}
div.breadcrumbs {
    background-color: @strong-gray;
    color: @dark-white !important; 
}
#content {
    color: @dark-white !important;
}
thead {
    th {
        border-top: 0px !important;
        background-color: @strong-dark !important;
        color: @white;
    }   
}
fieldset {
    h2 {
        background-color: @strong-dark !important;
        color: @white !important;
    }
}
.form-row {
    // border-bottom-color: @gray !important;
    border: 0px !important;
    label {
        color: @dark-white !important;
    }
}
.submit-row {
    background-color: @light-dark !important;
    border: 0px !important;
}
h1 {
    color: @white;
}
#content-related {
    background-color: @light-dark; 
    color: @white;
    h2 {
        background-color: @strong-dark !important;
        color: @white !important;
        border-bottom: 0px !important;  
    }
}
#changelist-filter {
    background-color: @light-dark !important; 
    color: @white;
    h2 {
        background-color: @strong-dark !important;
        color: @white !important;
    }
    li.selected {
        border-left-color: @gray !important;
        a {
            color: @pure-white !important;
        }
    }
    a:hover, a:focus {
        color: @pure-white !important;
    }
}
.object-tools a:link, .object-tools a:visited {
    background-color: @gray;
}
/* END DARK THEME */

.sortedm2m-item {
    img {
        max-width: 40px;
        padding: 5px;
        cursor: move;
    }
}

.text-red {
    color: #dd4b39;
}
.text-green {
    color: #00a65a;
}
.text-muted {
    color: #777;
}
.display-none {
    display: none;
}
.admin-additional-info {
    margin: 0px !important;
    padding: 0px;
    li {
        list-style-type: none;
        display: inline-block;
        margin: 0px 10px 0px 0px;
    }
}
#site-name {
    #small-site-name {
        color: #fff;
        font-size: 90%;
    }
}
input[type="tel"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
}
.errors input[type="tel"] {
    border: 1px solid #ba2121;
}
input[type="tel"]:focus {
    border-color: #999;
}
.results_on_deck {
    margin-left: 160px !important;
    padding: 10px !important;
}

// Admin filters
.admin-filter-select {
    max-width: 210px;
}
.ajax-select-link {
    font-weight: bold; 
}
#changelist-filter {
    .selected
    {
        a {
            font-weight: bold;
        }
        
    }
}
.admin-text-field-filter-ul {
    .admin-text-field-filter-input {
        max-width: 210px;
    }
    .admin-text-field-filter-button {
        padding: 8px 10px;
    }
}

// Reset jquery-ui tabs
.ui-tabs {
    .ui-widget-header {
        background: transparent;
        border: 0px;
    }
    .ui-widget.ui-widget-content {
        border: 0px;
    }
    .ui-state-default, .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default, .ui-button,
    html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
    {
        border: 0px;
        background-image: none;
    }
    .ui-tabs-nav li.ui-tabs-active a,
    .ui-tabs-nav li.ui-tabs-selected a
    {
        background-color: #79aec8 !important; 
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
        border-radius: 0px;
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tr {
        border-radius: 0px;
    }
    .ui-tabs-nav li a {
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border: 0px !important;
        margin: 0px !important;
    }
}

.ui-tabs.ui-corner-all {
    border-radius: 0px;
}
.ui-tabs.ui-widget-content {
    border: 0px;
}
ul.ui-autocomplete {
    padding: 10px !important; 
}
.ui-icon {
    margin-top: 0px;
}

td.field-is_enabled, td.field-is_checked,
th.column-is_enabled, th.column-is_checked {
    text-align: center;
}
body.change-list {
    div.results {
        min-height: 200px;
        height: calc(100vh - 330px);
    }
    table#result_list {
        thead {
            th {
                position: sticky;
                top: 0;
            }
        }
    }
}
