/* Variables */
/* DARK THEME */
body {
  height: 100%;
  background-color: #191919;
}
body input,
body select,
body button,
body textarea {
  background-color: #333 !important;
  border-color: #242424 !important;
  color: #d3d3d3 !important;
}
#changelist {
  background-color: #191919;
}
#changelist #toolbar {
  background-color: #242424 !important;
  border: 0px !important;
}
#changelist div.actions {
  background-color: #242424 !important;
}
#changelist div.results {
  background-color: #242424 !important;
}
p.paginator {
  background-color: #242424 !important;
  border: 0px !important;
}
p.paginator a,
p.paginator a:link,
p.paginator a:visited {
  color: #d3d3d3 !important;
  background-color: #333;
}
p.paginator .showall {
  background-color: transparent !important;
}
p.paginator a:hover,
p.paginator a:focus {
  color: #ffffff !important;
}
#result_list {
  color: #999999 !important;
}
#result_list thead th {
  border-top: 0px !important;
  background-color: #191919 !important;
}
#result_list thead th.sorted,
#result_list thead th a:hover,
#result_list thead th:hover {
  background-color: #151515 !important;
}
.row1 {
  background: #242424 !important;
}
.row2 {
  background: #333 !important;
}
.inline-related th {
  background-color: #222 !important;
  color: #d3d3d3 !important;
}
.inline-related h3 {
  background-color: #222 !important;
  border: 0px !important;
}
.inline-related fieldset {
  background-color: #242424 !important;
}
.add-row td {
  background-color: #222 !important;
  border: 0px !important;
}
a,
a:link,
a:visited {
  color: #d3d3d3;
}
a:hover,
a:focus {
  color: #ffffff;
}
#branding h1,
#branding h1 a:link,
#branding h1 a:visited {
  color: #d3d3d3;
}
#user-tools a:focus,
#user-tools a:hover {
  border-bottom-color: #ffffff;
  color: #ffffff;
}
#header {
  background-color: #151515;
  color: #d3d3d3;
}
.module {
  background-color: #242424;
}
.module caption {
  background-color: #151515;
}
.module caption a,
.module caption a:visited,
.module caption a:link {
  color: #d3d3d3;
}
.module th,
.module td {
  border-bottom-color: #333;
}
div.breadcrumbs {
  background-color: #222;
  color: #999999 !important;
}
#content {
  color: #999999 !important;
}
thead th {
  border-top: 0px !important;
  background-color: #151515 !important;
  color: #d3d3d3;
}
fieldset h2 {
  background-color: #151515 !important;
  color: #d3d3d3 !important;
}
.form-row {
  border: 0px !important;
}
.form-row label {
  color: #999999 !important;
}
.submit-row {
  background-color: #242424 !important;
  border: 0px !important;
}
h1 {
  color: #d3d3d3;
}
#content-related {
  background-color: #242424;
  color: #d3d3d3;
}
#content-related h2 {
  background-color: #151515 !important;
  color: #d3d3d3 !important;
  border-bottom: 0px !important;
}
#changelist-filter {
  background-color: #242424 !important;
  color: #d3d3d3;
}
#changelist-filter h2 {
  background-color: #151515 !important;
  color: #d3d3d3 !important;
}
#changelist-filter li.selected {
  border-left-color: #333 !important;
}
#changelist-filter li.selected a {
  color: #ffffff !important;
}
#changelist-filter a:hover,
#changelist-filter a:focus {
  color: #ffffff !important;
}
.object-tools a:link,
.object-tools a:visited {
  background-color: #333;
}
/* END DARK THEME */
.sortedm2m-item img {
  max-width: 40px;
  padding: 5px;
  cursor: move;
}
.text-red {
  color: #dd4b39;
}
.text-green {
  color: #00a65a;
}
.text-muted {
  color: #777;
}
.display-none {
  display: none;
}
.admin-additional-info {
  margin: 0px !important;
  padding: 0px;
}
.admin-additional-info li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 10px 0px 0px;
}
#site-name #small-site-name {
  color: #fff;
  font-size: 90%;
}
input[type="tel"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 6px;
  margin-top: 0;
}
.errors input[type="tel"] {
  border: 1px solid #ba2121;
}
input[type="tel"]:focus {
  border-color: #999;
}
.results_on_deck {
  margin-left: 160px !important;
  padding: 10px !important;
}
.admin-filter-select {
  max-width: 210px;
}
.ajax-select-link {
  font-weight: bold;
}
#changelist-filter .selected a {
  font-weight: bold;
}
.admin-text-field-filter-ul .admin-text-field-filter-input {
  max-width: 210px;
}
.admin-text-field-filter-ul .admin-text-field-filter-button {
  padding: 8px 10px;
}
.ui-tabs .ui-widget-header {
  background: transparent;
  border: 0px;
}
.ui-tabs .ui-widget.ui-widget-content {
  border: 0px;
}
.ui-tabs .ui-state-default,
.ui-tabs .ui-widget-content .ui-state-default,
.ui-tabs .ui-widget-header .ui-state-default,
.ui-tabs .ui-button,
.ui-tabs html .ui-button.ui-state-disabled:hover,
.ui-tabs html .ui-button.ui-state-disabled:active {
  border: 0px;
  background-image: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  background-color: #79aec8 !important;
}
.ui-tabs .ui-corner-all,
.ui-tabs .ui-corner-top,
.ui-tabs .ui-corner-right,
.ui-tabs .ui-corner-tr {
  border-radius: 0px;
}
.ui-tabs .ui-corner-all,
.ui-tabs .ui-corner-top,
.ui-tabs .ui-corner-left,
.ui-tabs .ui-corner-tr {
  border-radius: 0px;
}
.ui-tabs .ui-tabs-nav li a {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border: 0px !important;
  margin: 0px !important;
}
.ui-tabs.ui-corner-all {
  border-radius: 0px;
}
.ui-tabs.ui-widget-content {
  border: 0px;
}
ul.ui-autocomplete {
  padding: 10px !important;
}
.ui-icon {
  margin-top: 0px;
}
td.field-is_enabled,
td.field-is_checked,
th.column-is_enabled,
th.column-is_checked {
  text-align: center;
}
body.change-list div.results {
  min-height: 200px;
  height: calc(100vh - 330px);
}
body.change-list table#result_list thead th {
  position: sticky;
  top: 0;
}
